@model ProductListing.Web.Client.Models.ProductViewModels.ProductCEViewModel 

@using (Html.BeginForm())
{

    @Html.HiddenFor(m => m.Id )

    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor( m => m.Name ,new {@class="form-label"})
            @Html.TextBoxFor( m => m.Name, new { @class = "form-control"})
        </div>
        <div class="col-md-3">
            @Html.LabelFor( m => m.CategoryId ,new {@class="form-label"})
            @Html.DropDownListFor( m => m.CategoryId,Model.CategoryList, new { @class = "form-control"})
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            @Html.LabelFor( m => m.Details,new {@class="form-label"})
            @Html.TextBoxFor( m => m.Details,new {@class="form-control"})
        </div>
    </div>
    <button class="btn btn-sm btn-primary mt-2">Kaydet</button>
}

