@model ProductListing.Web.Client.Models.ProductViewModels.ProductCEViewModel

@using (Html.BeginForm())
{
    <div class="container">

        <div class="form">
            <div class="row">
            @Html.HiddenFor(m => m.Id )
                <div class="col-md-3">
                    @Html.LabelFor( m => m.Name, new {@class="form-label"})
                    @Html.TextBoxFor( m => m.Name , new {@class="form-control"})

                    @Html.LabelFor( m => m.CategoryId , new {@class="form-label"})
                    @Html.DropDownListFor( m => m.CategoryId,Model.CategoryList , new {@class="form-control"})
            </div>
        </div>

             <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor( m => m.Details , new {@class="form-label"})
                    @Html.TextBoxFor( m => m.Details, new {@class="form-control"})
                </div>
            </div>         
            </div>

    
    <button class="btn btn-primary mt-2">Kaydet</button>
    <a class="btn btn-danger mt-2" asp-action="index" asp-controller="product">Vazgeç</a>
    </div>
}