@model List<ProductListing.Data.Domain.Product>


<a class="btn btn-sm btn-primary" asp-action="create" asp-controller="product">Ürün Ekle </a>


<table class="table">
    <thead> 
        <tr>
            <th> İşlemler</th>
            <th> Adı</th>
            <th> Kategori</th>
            <th> Detay</th>

        </tr>
    </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="edit" asp-controller="product" asp-route-id="@item.Id">Güncelle </a>
                    <a class="btn btn-sm btn-danger" asp-action="delete" asp-controller="product" asp-route-id="@item.Id">Sil</a>

                </td>

                <td>
                    @Html.DisplayFor(p => item.Name)
                </td>
                <td>
                    @Html.DisplayFor( p => item.Category.Name)
                </td>

                <td>
                    @Html.DisplayFor( p => item.Details)
                </td>
            </tr>
        }
        </tbody>

</table>
