@model List<ProductListing.Data.Domain.Product>



<div class="row">
    <div class="card col-md-6">
        <div class="card-body ">
            <table class="table">
                <thead class="table">
                    <tr>
                        <th> Adı</th>
                        <th> Kategori</th>
                        <th> Detay</th>
                        <th> İşlemler</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(p => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor( p => item.Category.Name)
                            </td>

                            <td>
                                @Html.DisplayFor( p => item.Details)
                            </td>

                            <td>
                                <a class="btn btn-sm btn-warning" asp-action="edit" asp-controller="product" asp-route-id="@item.Id">Güncelle </a>
                                <a class="btn btn-sm btn-danger" asp-action="delete" asp-controller="product" asp-route-id="@item.Id">Sil</a>

                            </td>

                        </tr>
                    }
                </tbody>

            </table>
        </div>

    </div>
</div>
<a class="btn btn-sm btn-primary" asp-action="create" asp-controller="product">Ürün Ekle </a>
